<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <%= link_to t('navbar.title'), root_path, class: 'navbar-brand' %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="<%= t('navbar.toggle_label') %>">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <%= link_to t('navbar.blog'), your_posts_path, class: 'nav-link' %>
        </li>
        <li class="nav-item">
          <%= link_to t('navbar.about'), about_path, class: 'nav-link' %>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <%= t('navbar.post') %>
          </a>
          <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
            <li><%= link_to t('navbar.new_post'), new_post_path, class: 'dropdown-item' %></li>
          </ul>
        </li>
        <% if user_signed_in? %>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownUser" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <%= current_user.name %>
            </a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownUser">
              <li><%= link_to t('navbar.profile'), user_path(current_user), class: 'dropdown-item' %></li>
              <li><%= link_to t('navbar.edit_user'), edit_user_registration_path, class: 'dropdown-item' %></li>
              <li><%= link_to t('navbar.sign_out'), destroy_user_session_path, class: 'dropdown-item' %></li>
            </ul>
          </li>
        <% else %>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownLogin" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <%= t('navbar.log_in') %>
            </a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownLogin">
              <li><%= link_to t('navbar.log_in_or_sign_up'), new_user_session_path, class: 'dropdown-item' %></li>
            </ul>
          </li>
        <% end %>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownLanguage" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <%= t('navbar.language') %>
          </a>
          <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownLanguage">
            <li><%= link_to t('navbar.language_english'), url_for(locale: 'en'), class: 'dropdown-item' %></li>
            <li><%= link_to t('navbar.language_japanese'), url_for(locale: 'jp'), class: 'dropdown-item' %></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
